@page "/"

@using doro;

<PageTitle>Dorfromantik Score Sheet</PageTitle>

<h1>Dorfromantik Punktezähler</h1>

<fieldset id="feature-selector-box">
    <div id="feature-selector">
        <div id="games">
            <h4>Spiele</h4>
            @foreach (var game in Games.GetAllGames())
            {
                <div style="width: fit-content">
                    <input type="radio" id="game-@game.Id" 
                        checked="@(() => game.Id==Definition.Id)"
                        @onchange="() => SetGame(game)"/>
                    <label for="game-@game.Id">@game.Name</label>
                </div>
            }
        </div>
        <div id="expansions">
            <h4>Erweiterungen</h4>
            @foreach (var expansion in Definition.ExpansionPacks)
            {
                <div>
                    <input type="checkbox" id="expansion-@expansion.Id"
                           name="@expansion.Id"
                           checked="@Game.HasPack(expansion.Id)"
                           @onchange="() => ToggleExpansion(expansion.Id)" />
                    <label for="expansion-@expansion.Id">@expansion.Name</label>
                </div>
            }
        </div>
    </div>
</fieldset>

@foreach (string category in Definition.GetAllCategoryIds())
{
    @if (Game.HasCategory(category))
    {
        <h3>@Game.GetCategoryName(category)</h3>
        @foreach (GoalPack pack in Definition.GetAllPacks().Where(p => Game.HasPack(p.Id) && p.HasCategory(category)))
        {
            <div class="input-group">
                <h5>@pack.Name</h5>
                @foreach (Goal goal in pack.GetCategory(category).Goals)
                {
                    string inputId = $"{pack.Id}-{category}-{goal.Id}";
                    <div class="goal-score-input">
                        <label for="@inputId">@goal.Name</label>
                        <input type="number" id="@inputId" 
                        min="@goal.Minimum" max="@goal.Maximum" step="@goal.Step"
                        @bind-value="Scores[pack.Id, category, goal.Id]" />
                    </div>
                }
            </div>
        }
        <h5>Summe @(Game.GetCategoryName(category)): @Scores.GetCategoryScore(Game, category)</h5>
    }
}

<hr />

@foreach (string category in Game.GetCategories())
{
    <h5>@Game.GetCategoryName(category): @Scores.GetCategoryScore(Game, category)</h5>
}
<h4>Gesamt: @Scores.GetTotalScore(Game)</h4>

<style>
    #feature-selector-box {
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid gray;
    }

    #feature-selector {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #games, #expansions {

    }

    label {
        display: inline-block;
        width: 150px;
    }

    input[type=number] {
        width: 100px;
    }

    div.input-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5em;
    }

    div.goal-score-input {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

@code
{
    private GameConfiguration Game = GameFactory.GetBaseGame();

    private GameDefinition Definition = Games.GetAllGames().First();

    private ScoreSheet Scores = new("Spieler");

    void SetGame(GameDefinition gameDefinition)
    {
        Definition = gameDefinition;
        Game = gameDefinition.GetBaseConfiguration();
        Scores = new ScoreSheet("Spieler");
    }

    void ToggleExpansion(string expansionId)
    {
        var expansion = Definition.ExpansionPacks.FirstOrDefault(e => e.Id == expansionId);
        if (expansion != null)
        {
            if (Game.HasPack(expansion.Id))
            {
                Game.RemovePack(expansion.Id);
            }
            else
            {
                Game.AddPack(expansion);
            }
        }
    }
}